<h1><%= @task.title %></h1>
<p><%= @task.description %></p>

<h2>サブタスク</h2>
<ul>
  <% @task.sub_tasks.each do |sub_task| %>
    <li><%= sub_task.title %> (完了: <%= sub_task.completed ? 'はい' : 'いいえ' %>)</li>
  <% end %>
</ul>

<%= link_to '戻る', tasks_path %>
