<h1><%= @task.title %></h1>
<p><%= @task.description %></p>
<p>期限: <%= @task.due_date %></p>

<%= link_to '編集', edit_task_path(@task), class: 'btn btn-primary' %>
<%= link_to '削除', task_path(@task), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>

<h2>サブタスク</h2>
<ul>
  <% @task.sub_tasks.each do |sub_task| %>
    <li>
      <%= link_to (sub_task.completed ? '✅' : '◯'), complete_task_sub_task_path(@task, sub_task), method: :put %>
      <%= link_to sub_task.content, task_sub_task_path(@task, sub_task) %>
    </li>
  <% end %>
</ul>

<%= link_to '戻る', tasks_path %>
